%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "pisec", "1",
        [
         kernel,
         stdlib,
         sasl,
         pisec
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "pisec"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, pisec, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../apps/pisec"}]},
       {app, rfc4627_jsonrpc, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/rfc4627_jsonrpc"}]},
       {app, yaws, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/yaws"}]}
      ]}.

{target_dir, "pisec"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "www"},
           {mkdir, "www/css"},
           {mkdir, "config"},
           {copy,  "../www/css/*.css", "www/css"},
           {mkdir, "www/icons"},
           {copy,  "../www/icons/*", "www/icons"},
           {mkdir, "www/images"},
           {copy,  "../www/images/*", "www/images"},
           {mkdir, "www/js"},
           {copy,  "../www/js/*.js", "www/js"},
           {mkdir, "www/static"},
           {copy,  "../www/static/*", "www/static"},
           {mkdir, "www/logs"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "pisec/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/pisec", "bin/pisec"},
           {copy, "files/pisec.cmd", "bin/pisec.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
